


@media (max-width: 576px) {
  .navbar{
  font-size: 10vw;
  }
}
.navbar ul {

  list-style: none;
}

.navbar li {
  text-decoration: none;
}

.nav-link{
  text-decoration: none;
  list-style: none;
  color: #2c3e50;
  font-size: 25px;
  text-transform: uppercase;
}

.navbar-border{
  border: solid 1px #2c3e50 ;
}
