  <div class="sk">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

  <ul class="nav mr-auto">

    <li class="navbar">
      <a class="nav-link" href="#">Common Blood Group : {{maximummBloodGroup}}</a>
    </li>
  </ul>
  <ul class="nav mr-auto">
    <li class="navbar">
      <a class="nav-link " href="#">Employee Count : {{employeeService.noOfEmployees}}</a>
    </li>
  </ul>
    </div>
</nav>
</div>


