
#sticky-footer {
  flex-shrink: none;
  bottom: 0;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;

}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;

}

li {
  float: left;
  word-spacing: 3px;


}

li a {
  display: block;
  color: white;
  text-align: center;
  padding-right: 16px;
  text-decoration: none;
}

