<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; sk-evan </small>
   <small> <ul >
      <li >
        <a  href="#">Terms and Condtions </a>
      </li>
      <li >
        <a  href="#">Privacy Policy </a>
      </li>
      <li >
        <a  href="#">Contact Us </a>
      </li>
      <li >
        <a  href="#">Help & Support </a>
      </li>
    </ul></small>
  </div>
</footer>
