
 <form class="well form-horizontal" [formGroup]="form"  *ngIf="flag == false">
<div class="form-row col-md-12">
  <div class="form-group col-md-6">
    <label for="name">Name:</label>
    <input
      type="text"
      class="form-control"
      formControlName="name"
      name="name"
      value="{{emp.name}}"
      disabled
      placeholder="Enter your Name"
    />
  </div>

  <div class="form-group  col-md-6 ">
    <label>Mobile No</label>
    <input
      type="number"
      class="form-control "
      placeholder="Enter Mobile Number"
      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
      name="mblno"
      formControlName="mblno"
      minlength="10"
      maxlength="10"
      pattern="^(\+\d{1,3}[- ]?)?\d{10}$"
      value="{{emp.mblno}}"
      disabled
    />
  </div>
</div>

<div class="form-row col-md-12">
  <div class="form-group col-md-6">
    <label for="email">Email Id:</label>

    <input
      type="email"
      class="form-control"
      pattern="^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.(([0-9]{1,3})|([a-zA-Z]{2,3})|(aero|coop|info|museum|name))$"
      formControlName="email"
      email="true"
      name="email"
      placeholder="Enter your email"
      value="{{emp.email}}"
     disabled
    />
  </div>

  <div class="form-group  col-md-6 ">
    <label>Blood Group</label>
    <select
      class="custom-select"
      name="bloodgroup"
      formControlName="bloodgroup"
      value="{{emp.bloodgroup}}"
      disabled

    >
      <option selected disabled>Choose </option>
      <option value="A+" required>A+</option>
      <option value="A-" required>A-</option>
      <option value="B+" required>B+</option>
      <option value="B-" required>B-</option>
      <option value="AB+" required>AB+</option>
      <option value="AB-" required>AB-</option>
      <option value="O+" required>O+</option>
      <option value="O-" required>O-</option>
    </select>
  </div>
</div>

<div class="form-row col-md-12">
  <div class="form-group col-md-6">
    <label for="designation">Designation:</label>
    <select
      class="custom-select"
      name="designation"
      formControlName="designation"
      value="{{emp.designation}}"
      disabled
    >
      <option selected  disabled>Choose</option>

      <option value="Jr.developer" required>Jr.developer</option>
      <option value="Sr.Developer" required>Sr.Developer</option>
      <option value="Manager" required>Manager</option>
      <option value="Team Leader" required>Team Leader</option>
      <option value="Hr" required>Hr</option>
      <option value="Account" required>Account</option>
      <option value="Admin" required>Admin</option>
    </select>
  </div>

  <div class="form-group  col-md-6 ">
    <label>Gender</label>
    <select
      class="custom-select"
      name="gender"
      formControlName="gender"
      value="{{emp.gender}}"
      disabled="disabled"
    >
      <option selected disabled>Choose</option>
      <option value="Male" disabled required>Male</option>
      <option value="Female" disabled required>Female</option>
      <option value="Others"  disabledrequired>Others</option>
    </select>
  </div>
</div>




<div class="modal-footer">
  <button type="button" class="btn btn-info" (click)="edit(flag)"  data-dismiss="modal">Edit</button>
  <button type="button" class="btn btn-danger" (click)="onDeleteEmployee()">Delete</button>
</div>
</form>
<form class="well form-horizontal" [formGroup]="form" (submit)="onEdit(form)"  *ngIf="flag != false">
  <div class="form-row col-md-12">
    <div class="form-group col-md-6">
      <label for="name">Name:</label>

      <input
        type="text"
        class="form-control"
        formControlName="name"
        name="name"
        [(ngModel)]= emp.name

        placeholder="Enter your Name"
      />
    </div>

    <div class="form-group  col-md-6 ">
      <label>Mobile No</label>
      <input
        type="number"
        class="form-control "
        placeholder="Enter Mobile Number"
        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        name="mblno"
        formControlName="mblno"
        minlength="10"
        maxlength="10"
        pattern="^(\+\d{1,3}[- ]?)?\d{10}$"
        [(ngModel)]=emp.mblno

      />
    </div>
  </div>

  <div class="form-row col-md-12">
    <div class="form-group col-md-6">
      <label for="email">Email Id:</label>

      <input
        type="email"
        class="form-control"
        pattern="^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.(([0-9]{1,3})|([a-zA-Z]{2,3})|(aero|coop|info|museum|name))$"
        formControlName="email"
        email="true"
        name="email"
        placeholder="Enter your email"
        [(ngModel)]=emp.email

      />
    </div>

    <div class="form-group  col-md-6 ">
      <label>Blood Group</label>
      <select
        class="custom-select"
        name="bloodgroup"
        formControlName="bloodgroup"
        [(ngModel)]=emp.bloodgroup


      >
        <option selected disabled >Choose </option>
        <option value="A+" required>A+</option>
        <option value="A-" required>A-</option>
        <option value="B+" required>B+</option>
        <option value="B-" required>B-</option>
        <option value="AB+" required>AB+</option>
        <option value="AB-" required>AB-</option>
        <option value="O+" required>O+</option>
        <option value="O-" required>O-</option>
      </select>
    </div>
  </div>

  <div class="form-row col-md-12">
    <div class="form-group col-md-6">
      <label for="designation">Designation:</label>
      <select
        class="custom-select"
        name="designation"
        formControlName="designation"
        [(ngModel)]=emp.designation

      >
        <option selected  disabled>Choose</option>

        <option value="Jr.developer" required>Jr.developer</option>
        <option value="Sr.Developer" required>Sr.Developer</option>
        <option value="Manager" required>Manager</option>
        <option value="Team Leader" required>Team Leader</option>
        <option value="Hr" required>Hr</option>
        <option value="Account" required>Account</option>
        <option value="Admin" required>Admin</option>
      </select>
    </div>

    <div class="form-group  col-md-6 ">
      <label>Gender</label>
      <select
        class="custom-select"
        name="gender"
        formControlName="gender"
        [(ngModel)]=emp.gender

      >
        <option selected disabled >Choose</option>
        <option value="Male"  required>Male</option>
        <option value="Female"  required>Female</option>
        <option value="Others"  required>Others</option>
      </select>
    </div>
  </div>




  <div class="modal-footer">
    <button type="submit" class="btn btn-info" data-dismiss="modal">Save </button>
    <button type="button" class="btn btn-danger" (click)="edit(flag)" >Back</button>
  </div>
  </form>


