<div class="sk">
  <img
    src="https://icons-for-free.com/iconfiles/png/512/circle+more+plus+icon-1320183136549593898.png"
    data-toggle="modal"
    data-target="#exampleModal"
  />
</div>
<div class="container">
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Employee</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--start Emp Form-->
          <form
            class="well form-horizontal"
            [formGroup]="form"
            (submit)="onSavePost(form)"
          >
            <div class="form-group">

              <div
                class="image-preview"
                *ngIf="
                  imagePreview !== '' && imagePreview && form.get('image').valid
                "
              >
                <img [src]="imagePreview" data-toggle="modal" data-target="#exampleModal" />


                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        ...
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>




              <div class="row">
                <div class="col-md-6" style="display: inline-block;">
                  <button
                    type="button"
                    id="btnSubmit"
                    class="form-control btn-md"
                    (click)="filePicker.click()"
                  >
                    Upload Photo
                  </button>
                </div>
                <div class="col-md-6" style="display: inline-block;">
                  <button
                    type="button"
                    id="btnRemove"
                    class="form-control btn-md"
                    (click)="removePhoto($event)"
                  >
                    Remove Photo
                  </button>
                </div>
              </div>

              <input
                type="file"
                #filePicker
                class="form-control"
                (change)="onImagePicked($event)"
              />
            </div>

            <!--Mobile-->

            <hr />
            <div class="form-row col-md-12">
              <div class="form-group col-md-6">
                <label for="name">Name:</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                  name="name"
                  placeholder="Enter your Name"

                  [ngClass]="{'is-invalid': form.get('name').touched && form.get('name').invalid  }"
                />

                <div
                  *ngIf="form.get('name').invalid && form.get('name').touched"
                  class="alert alert-danger"
                >
                  <div *ngIf="form.get('name').errors.required">
                    Name is required.
                  </div>
                  <div *ngIf="form.get('name').errors.minlength">
                    Name must be at least 4 characters long.
                  </div>
                </div>
              </div>

              <div class="form-group  col-md-6 ">
                <label>Mobile No</label>
                <input
                  type="number"
                  class="form-control "
                  placeholder="Enter Mobile Number"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  name="mblno"
                  formControlName="mblno"
                  minlength="10"
                  maxlength="10"
                  pattern="^(\+\d{1,3}[- ]?)?\d{10}$"
                  [ngClass]="{'is-invalid': form.get('mblno').touched && form.get('mblno').invalid }"

                />

                <div *ngIf="form.get('mblno').invalid && (form.get('mblno').touched)"
    class="alert alert-danger">
     <div *ngIf="form.get('mblno').errors.required">
      Mobile Number not Valid
    </div>
    <div *ngIf="form.get('mblno').errors.pattern">
      <span style="color:red">Number not Valid</span>
   </div>
   <div *ngIf="form.get('mblno').errors.maxlength || form.get('mblno').errors.minlength">
      Number must be at 10 characters long.
</div>
</div>
              </div>
            </div>

            <div class="form-row col-md-12">
              <div class="form-group col-md-6">
                <label for="email">Email Id:</label>

                <input
                  type="email"
                  class="form-control"
                  pattern="^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.(([0-9]{1,3})|([a-zA-Z]{2,3})|(aero|coop|info|museum|name))$"
                  formControlName="email"
                  email="true"
                  name="email"
                  placeholder="Enter your email"
                  [ngClass]="{'is-invalid': form.get('email').touched && form.get('email').invalid }"

                />

                <div
                  *ngIf="form.get('email').invalid && form.get('email').touched"
                  class="alert alert-danger"
                >
                  <div
                    *ngIf="
                      form.get('email').errors.required &&
                      form.get('email').untouched
                    "
                  >
                    email is required.
                  </div>
                  <div *ngIf="form.get('email').errors.pattern">
                    <span style="color:red">Email not Valid</span>
                  </div>
                </div>
              </div>

              <div class="form-group  col-md-6 ">
                <label>Blood Group</label>
                <select
                  class="custom-select"
                  name="bloodgroup"
                  formControlName="bloodgroup"
                  required
                >

                <div *ngIf="form.get('bloodgroup').invalid && form.get('bloodgroup').touched">
                  <p class="alert alert-danger">Bloodgroup is required</p>
              </div>.
                  <option selected disabled>Choose </option>
                  <option value="A+" required>A+</option>
                  <option value="A-" required>A-</option>
                  <option value="B+" required>B+</option>
                  <option value="B-" required>B-</option>
                  <option value="AB+" required>AB+</option>
                  <option value="AB-" required>AB-</option>
                  <option value="O+" required>O+</option>
                  <option value="O-" required>O-</option>
                </select>
              </div>
            </div>

            <div class="form-row col-md-12">
              <div class="form-group col-md-6">
                <label for="designation">Designation:</label>
                <select
                  class="custom-select"
                  name="designation"
                  formControlName="designation"
                  required
                >
                  <option selected disabled>Choose</option>

                  <option value="Jr.developer" required>Jr.developer</option>
                  <option value="Sr.Developer" required>Sr.Developer</option>
                  <option value="Manager" required>Manager</option>
                  <option value="Team Leader" required>Team Leader</option>
                  <option value="Hr" required>Hr</option>
                  <option value="Account" required>Account</option>
                  <option value="Admin" required>Admin</option>
                </select>
              </div>

              <div class="form-group  col-md-6 ">
                <label>Gender</label>
                <select
                  class="custom-select"
                  name="gender"
                  formControlName="gender"

                >
                  <option selected disabled>Choose</option>
                  <option value="Male" >Male</option>
                  <option value="Female" >Female</option>
                  <option value="Others" >Others</option>
                </select>
              </div>
            </div>

            <!--End Submit-->

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </form>

          <!--End Emp Form-->
        </div>
      </div>
    </div>
  </div>
</div>
