.container{
 margin-bottom: 2rem;
}


.image-preview img{
  height: 100%;
  margin: 0px auto;

}


.alert
{
  font-weight: 500;
  margin: 0; padding: 0;
  background-color: transparent;
   border: transparent;
   color:#EA2027;
   font-size: 15px;
}

.image-preview{
  width :200px;
  height: 200px;
  padding: 10px auto;
  margin: 10px auto;
}
 .sk img{
 display:table-cell;
  vertical-align:middle;
  text-align:center;
  margin: 1rem auto;
  height: 200px;
  width: 200px;
}


/*
 */
input[type="file"]
{
  visibility: hidden;
  margin: 0;
  padding: 0;
  font-size: 1px;
}

/*
button{
  width: 50%;
} */
#btnSubmit,
#btnRemove{
    display: inline-block;
    vertical-align: top;
}
