

<div class="container">
  <div class="row " dragula='"bag-task1"'>

    <div  class="col-sm-6 col-md-4 col-xs-12 col-lg-3 " style="margin-bottom: 5rem;" *ngFor="let employee of employees ;" >
          <div class="card" style="width: 16rem;"  (click)="employeeInfo(employee)">
          <img *ngIf="employee.image==undefined || employee.image=='null' " class=""
          class="card-img-top"
          [src]= "imagePreview"
          [alt]= "employee.name"
        />
        <img  *ngIf="employee.image!=undefined"
          class="card-img-top"
          [src]= "employee.image"
          [alt]= "employee.name"
        />
        <div class="card-footer">
         {{employee.name}}
        </div>
      </div>
    </div>


   <app-add-employee ></app-add-employee>

    </div>

</div>

<app-profile (messageEvent) ="refresh($event)"></app-profile>









