.row {
   display: flex;
   flex-wrap: wrap;
}

.row > div[class*='col-'] {
  display: flex;
}

.card{
  text-align: center;
  width: 180px;
  height: 185px;
  border: 2px solid black;

}

.card img{
   width: 100%;
   height: 180px;
   contain: content;
   box-shadow: 1px 1px 5px rgba(0,0,0,0.5);

}

.card-footer{
  margin-bottom: 10rem;
  border: 2px solid black;
}

ul#menu li {
  display:inline;
}


.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}


ul {
  list-style: none;
}

li{
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  margin: 20px;
}


