.container{
  margin-bottom: 2rem;
 }


 .image-preview img{
   height: 100%;
   margin: 0px auto;

 }

 .image-preview{
   width :200px;
   height: 200px;
   padding: 10px auto;
   margin: 10px auto;
 }
  .sk img{

   margin: 1rem auto;
   height: 200px;
   width: 200px;
 }

 input[type="file"]
 {
   visibility: hidden;
   margin: 0;
   padding: 0;
   font-size: 1px;
 }

 /*
 button{
   width: 50%;
 } */
 #btnSubmit,
 #btnRemove{
     display: inline-block;
     vertical-align: top;
 }
