<form class="well form-horizontal" [formGroup]="form"  (submit)="UpdateImage(form)">
  <div class="form-group">
    <div
      class="image-preview" *ngIf="imagePreview !== ''"
    >
      <img *ngIf="employeeData.img != undefined && imagePreview == undefined" [src]="employeeData.img"/>
    </div>

    <div class="row">
      <div class="col-md-6" style="display: inline-block;">
        <button
          type="submit"
          id="btnSubmit"
          class="form-control btn-md"
          (click)="filePicker.click()"
        >
          Upload Photo

        </button>
      </div>
      <div class="col-md-6" style="display: inline-block;">
        <button
          type="button"
          id="btnRemove"
          class="form-control btn-md"
          (click)="removePhoto($event)"
        >
          Remove Photo
        </button>
      </div>
    </div>

    <input
      type="file"
      #filePicker
      class="form-control"
      (change)="onImagePicked($event)"
    />
  </div>

  <!--Mobile-->

  <hr />

</form>


