

  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

       <app-image  [employeeData]="data"></app-image>
       <app-user-details [emp]="emp"></app-user-details>

  </div>


<!--
  <div class="container">
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Employee</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            start Emp Form-->

              <!-- <div class="form-group">
                <app-image  [employeeImage]="sendImage"></app-image>
                <app-user-details></app-user-details>


              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" type="submit" class="btn btn-primary">Save changes</button>
              </div> -->


            <!--End Emp Form-->
<!--
        </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
