.row {
  display: flex;
  flex-wrap: wrap;
}

.row > div[class*='col-'] {
 display: flex;
}

.card{
 text-align: center;
 width: 180px;
 height: 185px;
 border: 2px solid black;

}

.card img{
  width: 100%;
  height: 180px;
  contain: content;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);

}

.card-footer{
 margin-bottom: 10rem;
 border: 2px solid black;
}



